body {
  background-color: #f8f9fa;
  margin: 0;
  padding: 0;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.register-container {
  display: flex;
  width: 100%; /* Ocupa el 100% del ancho de la pantalla */
  height: 100%; /* Ocupa el 100% de la altura de la pantalla */
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Añade sombra para darle profundidad */
  border-radius: 8px; /* Bordes redondeados para un diseño más moderno */
  overflow: hidden; /* Asegura que el contenido no se desborde */
}

.image-container {
  flex: 1;
  background-image: url("../Imagenes/register.image.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  border-right: 2px solid #ddd;
  min-width: 50%; /* Garantiza que ocupe el 50% del contenedor */
  height: 100%; /* Ocupa el 100% de la altura del contenedor */
}

.form-container {
  flex: 1;
  padding: 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #ffffff; /* Fondo blanco para el formulario */
  min-width: 50%; /* Garantiza que ocupe el 50% del contenedor */
  height: 100%; /* Ocupa el 100% de la altura del contenedor */
}

.header-image-container {
  width: 100%;
  height: auto; /* Ajusta la altura de la imagen para que sea adaptable */
  max-height: 150px; /* Establece una altura máxima para evitar que se deforme */
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}

.header-image {
  max-height: 100%;
  max-width: 100%;
  object-fit: contain;
}

.form-title {
  font-size: 2rem;
  font-weight: bold;
  color: #333;
  margin-bottom: 20px; /* Espacio debajo del título */
  text-align: center; /* Centra el título */
}

.form-title span {
  color: #6c63ff;
}

.social-buttons {
  margin-bottom: 20px;
}

.divider {
  text-align: center;
  margin: 20px 0;
}

.divider hr {
  width: 40%;
  display: inline-block;
}

.divider span {
  padding: 0 10px;
  color: #888;
}

.form-group {
  margin-bottom: 15px;
}

.custom-file-upload {
  position: relative;
  display: inline-block;
}

.custom-file-upload input[type="file"] {
  display: none;
}
